*{
    margin: 0;
    padding: 0;
}
.about1{
    font-family:"Open sans", sans-serif;
    background-color: #d7d7d7;
    background-image: linear-gradient(147deg, #d7d7d7 0%, #353535 74%);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin:0;
    padding:0;
}

.about-section{
    background-image: url("../images/about.jpeg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 55%;
    padding: 100px 0;
    margin-left: 0;
    height:65vh;
}

.inner-container{
    width: 50%;
    float:right;
    background-color: #ffffff;
    padding: 60px;
    margin-right:20px;
    margin-top: 30px;
    line-height: 2;
}
.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.inner-container h2{
    font-family: 'Sacramento',cursive;
    letter-spacing: 1px;
}

.text{
    font-size: 14px;
    color: #545454;
    text-align: justify;
    width: 90%;
    letter-spacing: 1px;
}