
/* profile page */

.profilemain {
    background-image: url('https://media.istockphoto.com/id/1294603953/vector/abstract-black-stripes-diagonal-background.jpg?s=612x612&w=0&k=20&c=nQZHTk-o97cNVqWnUe8BJg0A5jQG0tqylquzbt9YtcQ=');
    height: 100vh;
  
  }
  
  .profile1 {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  
  .profile2 {
    display: flex;
  
    justify-content: center;
    height: 550px;
    /* box-shadow: inset 10px 10px 9px 0px rgba(221,221,221,2);*/
    box-shadow: inset 10px 10px 15px 20px rgba(221, 221, 221, 1);
    width: 900px;
    padding-top: 30px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: whitesmoke;
  
  }
  
  .profileimg {
    height: 100px;
    border-radius: 50px;
    margin-bottom: 10px;
  }
  
  .log {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .prof-bar {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    width: 500px;
  }
  
  .child {
    flex: 1;
    align-self: center;
  }
  
  .count-span {
    display: block;
  }
  
  
  .address {
    display: block;
    width: 260px;
    word-wrap: break-word;
    text-align: left;
  }
  