body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .background-container {
    background-image: url("../images/main.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .header-home {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    
  }
  .product-display .header-home{
    background-color:rgb(0, 23, 23);
  }

 .product-card .header-home{
    background-color:rgb(0, 23, 23);
  }

  .header-buttons{
    display: flex;
    justify-content: flex-end;
  }
  .button:hover{
    background-color: #f7f7f7;
    border-radius: 30px;
    color: black;

  }
  .button:active{
    transform: translateY(2px);
    box-shadow: 0 2px #999;
  }
  h1 {
    color: #333;
  }
  
  .button {
    color: whitesmoke;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px #999;

  }
  

  .search-bar-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
  
    text-align: center;
    margin-top: 150px;
    margin-bottom :20px;
    padding: 20px;
    border-radius: 10px;
  }
  .header-search-bar-container{
    display: flex;
    justify-content: flex-start;
  }
  .header-search-bar{
    display: flex;
    justify-content: flex-start;
    
  }
  .header-search-input{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    margin-left: 100px;
  }
  .header-search-input-header1{
    width: 60%;
    height: 30px;
    border-radius: 10px;
    margin-left: 100px;
  }
  .search-bar {
    display: flex;
    color: whitesmoke;
    align-items: center;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 80px;
  }
  
  .search-input {
    width: 350px;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    margin-left: 30px;
    border-radius: 20px;
    border: none;
  }
  
  .search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 90px;
  }
  .header-search-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 15px;
  }
.header-search-button:active{
  transform: translateY(2px);
}
  
  .background-container .img {
    max-width: 100%;
    height: auto;
  } 

.mid{
  background-color: #F8F1F1;

      background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    display: flex;
    font-size: 50px;
   justify-content: space-around;

  }

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.footer{
  display:flex;
  color: black;
  justify-content: space-around;
  padding: 20px;
   width: auto;
   height: auto;
   line-height: 1.5;
     background: rgba(67, 67, 67, 0.386);
  background: linear-gradient(0deg, rgba(67,67,67,1) 0%, whitesmoke 55%);
}

/* for Product Card */
.carddiv{
  background-color: #F8F1F1;
}
.card{
  display: inline-flex;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  margin: 50px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
  transition: transform 0.3s;
}
.card:hover{
  transform: scale(1.1);
}
.card img{
  display: flex;
  justify-self: auto;
}
.card .intro{
  display: none;
  height: 300px;
  width: 300px;
  padding: 6px;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  color:black;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.card .intro h2{
  margin: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;

}
.card:hover .intro{
  display: block;
}
.card:hover img{
  opacity: 0.4;
  transform: skewY(20deg)
}

/*for login form */
.login{
  background-image: url('../images/login_bg.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  height:110vh;
}
.main{
  text-align: center;
  justify-content: center;
  display: flex;
  
  /*background-color: rgb(252,252,252);*/
}

.submain{
  display: flex;
  justify-content: space-around;
  height: auto;
  width:auto;
  padding: 70px;
  box-shadow: 2px 2px 3px rgb(207,207,207);
  padding-top: 30px;
  border-radius: 60px;
  background-color: whitesmoke;
}

.imgs{
  padding-top: 20px;
  justify-content: center;
  display: flex;
}

.profile{
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.register{
  display: inline-flex;
}
.submit-button:active{
  transform: translateY(2px);
  box-shadow: 0 2px #999;
}

/* product display template */
.full{
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}
.left{
  display: flex;
  position: sticky;
  top: 60px;
  bottom: 30;
  height:80vh;
  margin-left: 20px;
  width:40%;
  border-color: grey;
  border-style:solid;
  border-width: 0.5px;
  border-radius: 10px;
}
.left .Button{
    display: flex;
  justify-content: center;
  align-items: center;
}
.right{
  display: block;
  width:50%;
  bottom: 50px;
  margin-top: 20px;
  height: auto;
}
.right p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(72, 70, 70);
  letter-spacing: 1px;
  line-height: 2;
}
.right li{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(72, 70, 70);
  letter-spacing: 1px;
  line-height: 2;
}
.left img{
  display: flex;
  left: 10%;
  margin-top: 20px;
  bottom: 20px;
  right: 10%;
  height: 60vh;
  width: 60vb;
  margin-left: 30px;
  border-radius: 10px;
}

.buttonn{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* chat icon */

.chat-icon{
	position:sticky;
	width:70px;
	height:50px;
  top: 90vh;
	right:30px;
  background-color:rgb(0, 23, 23);
	color:#fff;
	border-radius:50px;
	box-shadow: 2px 2px 3px #999;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
product listing page card */

/* display: inline-flex;
height: 300px;
width: 300px;
border-radius: 10px;
margin: 50px;
box-shadow: 5px 5px 20px black;
overflow: hidden;
transition: transform 0.3s; */
.product-card{
  background-color: whitesmoke;
  line-height: 1.5;
}
.card-data{
  height: auto;
  width: 200px;
  display: inline-flex;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 10px;
  margin: 50px;
  overflow: hidden;
  transition: transform 0.3s;



}
.card-data:hover{
  transform: scaleX(1.1);

}

.card-data img{
  width: 180px;
  height: 180px;
  padding: 10px;
  overflow: hidden;
  border-radius: 10%;
  display: inline-block;
  cursor: pointer;
  border: none;

}
.cart{
  background-image: url('../images/cart_bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 110vh;
}

/* sell product page */

.sell{
  background-image: url('../images/login_bg.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  height:auto}

.text-field{
  padding:20px;
  display: flex;
  justify-content: stretch;
}


/* order sucess page animations */

@keyframes checkmark {
  0% {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
  }
  100% {
    stroke-dasharray: 50;
    stroke-dashoffset: 0;
  }
}


.checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  stroke-width: 5;
  stroke: #4caf50;
  fill: transparent;
  animation: checkmark 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-text {
  animation: fadeIn 1s ease-in-out;
}


/* cart page  */

.cart{
  background-image: url('../images/cart_bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  min-height:110vh;
}


.card-container {
    display: flex;
    justify-content: space-around;

    /*flex-wrap: wrap;*/
  }
  
  .cartcard {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    width: fit-content;
    text-align: center;
    background-color:whitesmoke;
    border-radius: 10px;
  }
  .cartcard2 {
    display: flex;
    position: sticky;
    background-color:whitesmoke;
    top: 60px;
    bottom: 30;
    /* height: max-content; */
    max-height: 85vh;
    min-height: 50vh;
    margin-right: 20px;
    width:40%;
    border-style:solid;
    border-width: 0.5px;
    border-radius: 10px;
    overflow:auto;
    
  }
  .cartcard img {
    max-width: 100%;
    height: 15vh;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }
  
  th, td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    text-align: center;


  }
  
  th {
    background-color: #f2f2f2;
  }

  .number{
    width: 50px;
  }
  
  .sample{
    width: 100px;
    padding-left: 50px;
  }
  .order_summary{
    width: 250px;
    position: sticky;
  }

  /* order history page uh */

  .ordersmain{
    padding-top: 100px;
    background-color: whitesmoke;
    color: black;
    padding: 90px 0 90px 0;
    text-align: center;
    justify-content: center;
    display: flex;
    min-height: 80vh;
    min-width: 100%;
}
/* .submain{
    width: 200px;  
} */
.h1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 23, 23); /* Change this to the desired background color */
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999; 

}

.o{
    padding-top: 10px;
}

.final{
    padding-left: 50px;
}
.p{
    padding-top: 100px;
}

.sh{
    background-image:url('https://static.vecteezy.com/system/resources/previews/006/262/477/original/white-abstract-background-backdrop-for-presentation-design-for-website-free-photo.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

/* profile page */

.profile-main{
  background-image: url('https://media.istockphoto.com/id/1294603953/vector/abstract-black-stripes-diagonal-background.jpg?s=612x612&w=0&k=20&c=nQZHTk-o97cNVqWnUe8BJg0A5jQG0tqylquzbt9YtcQ=');
  height: 110vh;
  
}
.profile-main1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:60px;
}
.profile-card1{
  height: 70vh;
  width: 60vb;
  border-radius: 20px;
  margin: 20px;
  transition: all ease 0.2s;
  background-color: whitesmoke;
  box-shadow: 0px 5px 10px 0px whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profile-card1:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px whitesmoke;
}

.profile-card2 {
  height: 50vh;
  width: 50vb;
  border-radius: 20px;
  margin: 20px;
  transition: all ease 0.2s;
  background-color: whitesmoke;
  box-shadow: inset 0px 15px 20px 0px rgba(0, 0, 0, 0.5);
}
.profile-card2:hover {
  transform: translateY(5px);
  box-shadow: inset 0px 10px 20px 2px whitesmoke;
}

.flex-item{
  display: flex;
  align-self: flex-start;
  margin-left: 40px;
  font-size: 25px;
  /* column-gap: 5px; */
width: 90%;
 justify-content: left;
}




.backProfile {
  width: 100%;
  height: 100vh;
  background: linear-gradient(-4deg,
          white 0%,
          white 50%,
          paleturquoise 50%,
          paleturquoise 100%);
  display: flex;
  padding-top: 10%;
  justify-content: center;
}

.profileBox {
  border-radius: .75rem 1.125rem;
  background: linear-gradient(176deg,
          #afeeee 0%,
          white 40%,
          white 100%);
  box-shadow: .125rem .0625rem .125rem .0625rem rgba(0, 0, 0, 0.2);
}
.flex1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fitem1 {
  width:"25%"
}